.card  {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px;
    border-radius: 30px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.card:hover {
    scale: 1.05;
}